*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
}

body {
	background: #000;
	color: #999;
}

h1, a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 2px 0;
}

img {
	width: 100%;
}

.background {
	filter: brightness(80%);
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('netflix1.jpg') no-repeat center center/cover;
}

.netflixLogo {
	position: relative;
	z-index: 3;
	height: 90px;
	display: inline-block;
}

.netflixLogo img {
	width: 175px;
	position: absolute;
	top: 20px;
	left: 40px;
}

.DataEnterBox {
	position: relative;
	z-index: 3;
	width: 450px;
	height: 600px;
	background: rgb(0, 0, 0, 0.65);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	padding: 60px 65px;
}

.formForData h1 {
	margin-bottom: 20px;
}

.formForData {
	width: 100%;
	margin-bottom: 40px;
}

.formForData .info {
	padding: 5px 0;
}

.formForData .info .email {
	width: 100%;
	height: 50px;
	border-radius: 3px;
	border: none;
	padding: 10px;
	font-size: inherit;
	margin-bottom: 30px;
}



.button-logIn {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: red;
	color: #fff;
	font-size: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.help {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
}

.help a {
	color: #999;
}

.help a:hover {
	text-decoration: underline;
}

input[type=checkbox] {
	background: #766f6f;
	border-radius: 2px;
	border: 0;
	width: 16px;
	margin-right: 5px;
}

input[type=email] {
	background: #393636;
}

input[type=password] {
	background: #393636;
}

.signup {
  top:auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.signup p {
	margin-right: 5px;
}

.GoogleNote {
	font-size: 14px;
}

.GoogleNote a {
	color: rgb(17, 108, 228);
}

.GoogleNote a:hover,
.signup a:hover {
	text-decoration: underline;
}

footer {
	position: absolute;
	margin-top: 50px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.65);
	width: 100%;
	height: 200px;
}

.content {
	margin-left: 10%;
	padding-top: 20px;
	font-size: 1em;
}

.content a {
	color: #999;
}

.content a:hover,
.contact a:hover {
	text-decoration: underline;
}

.contact {
	margin-bottom: 30px;
}

.ftr {
	margin-bottom: 30px;
	width: 70%;
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
}

.selectLanguage select, .language select {
	border: none;
	font-size: inherit;
	padding-left: 10px;
	background: #d6c8c8;
}

.language{
	margin-top: 20px;
	position: relative;
	float: right;
	right: 150px;
}

.smallSignIn{
	position: relative;
	float: right;
	right : 0;
	margin-top: 20px;
}
.smallLog{  
	background-color: red;
  color: white;
	border: none;
	padding: 5px 10px;
	font: bold;
	border-radius: 3px;
	text-decoration: none;
}

.text{
	margin-top: 60px;
}

.firstHeading{
	font-size:55px;
}

.firstHeading,
.Secondheading,
.thirdHeading{
	color: white;
	text-align: center;
  font-weight: bolder;
}

.thirdHeading{
	margin-top: 30px;
}

.emailEnter{
	margin:30px 400px ;
}
.mailForSignup{
  color:#000;
	background-color: #fff;
  padding: 15px 20px;
	width:75%;
	margin: 0;
}

.signUpButton{
	width:24.2%;
	background-color: red;
	color: #fff;
	padding: 17px;
	border: none;
	margin: 0px;
	font: bolder;
	
}